<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div style="min-height: 80vh; padding: 3rem">
        <div class="col-md-8 offset-md-2">
          <!-- Login Tab Content -->
          <div class="account-content">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-7 col-lg-6 login-left">
                <img
                  src="assets/images/login-banner.png"
                  class="img-fluid"
                  alt="Doccure Login"
                />
              </div>
              <div class="col-md-12 col-lg-6 login-right">
                <div class="login-header pb-3">
                  <h2>Login Doccure</h2>
                </div>
                <form [formGroup]="formLogin">
                  <mat-error *ngIf="errorMessage" class="pt-0 pb-1">{{
                    errorMessage
                  }}</mat-error>
                  <mat-form-field appearance="outline" class="full-width pb-2">
                    <mat-label>Email</mat-label>
                    <mat-icon
                      matPrefix
                      [ngClass]="{
                        'icon-red':
                          formLogin.controls['email'].invalid &&
                          formLogin.controls['email'].dirty
                      }"
                      >person</mat-icon
                    >
                    <input
                      matInput
                      placeholder="Email"
                      formControlName="email"
                      required
                      #email
                      tabindex="1"
                    />
                    <mat-error
                      *ngIf="formLogin.controls['email'].hasError('email')"
                      >Email is invalid.</mat-error
                    >
                    <mat-error
                      *ngIf="formLogin.controls['email'].hasError('required')"
                      >Email is required.</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <mat-icon
                      matPrefix
                      [ngClass]="{
                        'icon-red':
                          formLogin.controls['password'].invalid &&
                          formLogin.controls['password'].dirty
                      }"
                      >lock</mat-icon
                    >
                    <input
                      matInput
                      placeholder="Password"
                      [type]="showPass ? 'text' : 'password'"
                      formControlName="password"
                      required
                      tabindex="2"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="showPassword()"
                      type="button"
                    >
                      <mat-icon>{{
                        showPass ? "visibility" : "visibility_off"
                      }}</mat-icon>
                    </button>
                    <mat-error
                      *ngIf="
                        formLogin.controls['password'].hasError('required')
                      "
                      >Password is required.</mat-error
                    >
                  </mat-form-field>
                  <div class="text-right d-flex justify-content-end">
                    <a class="forgot-link" routerLink="/auth/forgot-password"
                      >Forgot Password ?</a
                    >
                  </div>
                  <button
                    (click)="onLogin()"
                    class="btn btn-primary btn-block btn-lg full-width"
                    type="submit"
                    [disabled]="!formLogin.valid || isLoading"
                  >
                    <div
                      class="d-flex align-items-center justify-content-center"
                    >
                      Login&nbsp;
                      <mat-icon class="pt-1" *ngIf="isLoading"
                        ><mat-spinner diameter="20"></mat-spinner
                      ></mat-icon>
                    </div>
                  </button>
                  <div class="login-or">
                    <span class="or-line"></span>
                    <span class="span-or">or</span>
                  </div>
                  <div class="text-center dont-have">
                    Don't have an account?
                    <a routerLink="/auth/register">Register</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /Login Tab Content -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
