<div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <!-- Change Password Form -->
          <form [formGroup]="formChangePasswordPatient" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Old Password</label><br>
              <p-password formControlName="oldPassword" [toggleMask]="true"/><br>
              <small *ngIf="formChangePasswordPatient.get('oldPassword')?.invalid && formChangePasswordPatient.get('oldPassword')?.touched" class="text-danger">
                Password must be at least 8 characters and contain at least one number.
              </small>
            </div>

            <div class="form-group">
              <label>New Password</label><br>
              <p-password formControlName="newPassword" [toggleMask]="true">
                <ng-template pTemplate="header">
                    <h6>Pick a password</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-divider />
                    <p class="mt-2">Suggestions</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>At least one numeric</li>
                        <li>Minimum 8 characters</li>
                    </ul>
                </ng-template>
            </p-password><br>
              <small *ngIf="formChangePasswordPatient.get('newPassword')?.invalid && formChangePasswordPatient.get('newPassword')?.touched" class="text-danger">
                Password must be at least 8 characters and contain at least one number.
              </small>
            </div>
            <div class="form-group">
              <label>Confirm Password</label><br>
              <p-password formControlName="confirmNewPassword" [toggleMask]="true"/><br>
              <small *ngIf="formChangePasswordPatient.hasError('passwordsMismatch') && formChangePasswordPatient.get('confirmNewPassword')?.touched" class="text-danger">
                Passwords do not match.
              </small>
            </div>
            <div class="submit-section">
              <button
                type="submit"
                class="btn btn-primary submit-btn"
                [disabled]="formChangePasswordPatient.invalid"
              >
                Save Changes
              </button>
            </div>
          </form>
          <!-- /Change Password Form -->
        </div>
      </div>
    </div>
  </div>
</div>
