<app-header></app-header>
<div class="app-container">
  <main class="p-0" style="min-height: 93vh">
    <router-outlet></router-outlet>
    <button
      class="float btn d-flex align-items-center"
      (click)="toggleChatbot()"
    >
      <mat-icon>chat</mat-icon>
    </button>
  </main>
  <div
    class="chatbot"
    [ngClass]="{ 'show-chat': visibleChatbot, 'hidden-chat': !visibleChatbot }"
    *ngIf="loadChatbot"
  >
    <app-chatbot
      [mode]="mode"
      (toggleChatbot)="listenToggleChatbot($event)"
    ></app-chatbot>
  </div>
</div>
<app-footer></app-footer>
<p-scrollTop styleClass="custom-scrolltop" />
<p-toast position="bottom-right" key="messageToast" [life]="2000" />
