.content {
    margin-bottom: 3%;
}

label.focus-label {
    margin: 10px;
}

.float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    margin-bottom: 8vh;
    margin-right: 3px;
    background-color: #09e5ab;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 0;
    color: white;
    z-index: 1000;
    transition: transform 0.2s ease 0.2s, background-color 0.3s ease;
}

.float:hover {
    transform: scale(1.2);
    background-color: #07c597;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.float:active {
    transform: scale(1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.chatbot {
    position: fixed;
    right: 70px;
    bottom: 12vh;
    width: 420px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: bottom right;
}

.chatbot.show-chat {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
    animation: jumpOutFromBottomRight 0.4s ease;
}

.chatbot.hide-chat {
    animation: jumpInToBottomRight 0.4s ease forwards;
}

@media (max-width: 540px) {
    .chatbot {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes jumpOutFromBottomRight {
    0% {
        transform: scale(0.5) translate(100%, 100%);
        opacity: 0;
    }
    80% {
        transform: scale(1.1) translate(0, -10%);
        opacity: 1;
    }
    100% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
}

@keyframes jumpInToBottomRight {
    0% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(1.1) translate(0, -10%);
        opacity: 1;
    }
    100% {
        transform: scale(0.5) translate(100%, 100%);
        opacity: 0;
    }
}
