<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <!-- Register Content -->
          <div class="account-content">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-7 col-lg-6 col-xl-6 login-left">
                <img src="assets/images/login-banner.png" class="img-fluid" alt="Doccure Register" />
              </div>
              <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="card">
                  <div class="card-body">
                    <div class="login-header">
                      <h3>
                        Reset password
                      </h3>
                    </div>
  
                    <!-- Register Form -->
                    <form [formGroup]="formResetPassword" (ngSubmit)="onSubmit()">
                      <div class="row">
                        <mat-error *ngIf="errorMessage" class="pt-0 pb-1">{{
                          errorMessage
                          }}</mat-error>
                        
                      </div>
                      <mat-form-field appearance="outline" class="full-width pb-2" [ngClass]="{
                        'pb-4':
                        formResetPassword.controls['newPassword'].hasError(
                            'newPassword'
                          ) &&
                          formResetPassword.controls['newPassword'].hasError('minLength')
                      }">
                      <mat-label>Password</mat-label>
                      <mat-icon matPrefix [ngClass]="{
                          'icon-red':
                          formResetPassword.controls['newPassword'].invalid &&
                          formResetPassword.controls['newPassword'].dirty
                        }">lock</mat-icon>
                      <input matInput placeholder="New Password" [type]="showPass ? 'text' : 'password'"
                        formControlName="newPassword" required tabindex="5" />
                      <button mat-icon-button matSuffix (click)="showPassword()" type="button">
                        <mat-icon>{{
                          showPass ? "visibility" : "visibility_off"
                          }}</mat-icon>
                      </button>
                      <mat-error *ngIf="
                          formResetPassword.controls['newPassword'].hasError('required')
                        ">Password is required.</mat-error>
                      <mat-error *ngIf="
                          formResetPassword.controls['newPassword'].hasError('password')
                        ">Password should contain at least 1 digit.</mat-error>
                      <mat-error *ngIf="
                          formResetPassword.controls['newPassword'].hasError('minLength')
                        ">Minimum length is 8.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width pb-2">
                      <mat-label>Confirm Password</mat-label>
                      <mat-icon matPrefix [ngClass]="{
                          'icon-red':
                          formResetPassword.controls['confirmNewPassword'].invalid &&
                          formResetPassword.controls['confirmNewPassword'].dirty
                        }">lock</mat-icon>
                      <input matInput placeholder="Confirm Password" [type]="showConfirmPass ? 'text' : 'password'"
                        formControlName="confirmNewPassword" required tabindex="6" />
                      <button mat-icon-button matSuffix (click)="showConfirmPassword()" type="button">
                        <mat-icon>{{
                          showPass ? "visibility" : "visibility_off"
                          }}</mat-icon>
                      </button>
                      <mat-error *ngIf="
                          formResetPassword.controls['confirmNewPassword'].hasError(
                            'required'
                          )
                        ">Confirm password is required.</mat-error>
                      <mat-error *ngIf="
                          formResetPassword.controls['confirmNewPassword'].hasError(
                            'compare'
                          )
                        ">Not match with password.</mat-error>
                    </mat-form-field>
                      <div class="pt-2">
                        <button class="btn btn-primary btn-block btn-lg login-btn full-width" type="submit"
                          [disabled]="formResetPassword.invalid || isLoading">
                          <div class="d-flex align-items-center justify-content-center">
                            Reset&nbsp;
                            <mat-icon class="pt-1" *ngIf="isLoading"><mat-spinner diameter="20"></mat-spinner></mat-icon>
                          </div>
                        </button>
                      </div>
                      <div class="login-or">
                        <span class="or-line"></span>
                        <span class="span-or">or</span>
                      </div>
                      <div class="text-center dont-have">
                        Already have an account?
                        <a routerLink="/auth/login">Login</a>
                      </div>
                    </form>
  
                    <!-- /Register Form -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Register Content -->
        </div>
      </div>
    </div>
  </div>