<p-dialog header="Reply review for Patient {{ data.patientResponse.firstName }} {{ data.patientResponse.lastName }}"
  [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }" (onHide)="onClose.emit()">
  <form (ngSubmit)="onSubmitReview()" #reviewForm="ngForm">

    <div class="form-group">
      <label class="font-semibold w-6rem">Your review</label>

      <textarea id="review_desc" maxlength="100" class="form-control" [(ngModel)]="feedbackRequest.comment"
        name="comment" rows="3"
        cols="30"  pInputTextarea ></textarea>
        <div *ngIf="!isCommentValid" class="text-danger">Please enter a comment.</div>
      <small class="text-muted"><span id="chars">100</span> characters remaining</small>
    </div>

    <div class="form-group">
      <div class="terms-accept">
        <div class="custom-checkbox">
          <input type="checkbox" id="terms_accept" required />
          <label for="terms_accept">I have read and accept <a href="#">Terms & Conditions</a></label>
        </div>
      </div>
    </div>

    <!-- <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
    <button type="submit" class="btn btn-primary submit-btn" [disabled]="!reviewForm.valid">Add Review</button> -->
    <div class="d-flex justify-content-between pt-4">
      <button type="button" mat-raised-button (click)="onCancel()">Close</button>
      <button type="submit" mat-flat-button [disabled]="!reviewForm.valid">
        Add Review
      </button>
    </div>
  </form>
</p-dialog>