<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Login Tab Content -->
        <div class="account-content">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-6 login-left">
              <img
                src="assets/images/login-banner.png"
                class="img-fluid"
                alt="Doccure Login"
              />
            </div>
            <div class="col-md-12 col-lg-6 login-right">
              <div class="login-header">
                <h3>Login <span>Doccure</span></h3>
              </div>
              <form [formGroup]="formLogin">
                <div class="form-group form-focus">
                  <input
                    type="text"
                    formControlName="username"
                    class="form-control floating"
                  />
                  <label class="focus-label">Email</label>
                  <small
                    class="form-text text-danger"
                    *ngIf="
                      (formLogin.controls['username'].touched ||
                        formLogin.controls['username'].dirty) &&
                      formLogin.controls['username'].errors
                    "
                  >
                    <ng-container
                      *ngIf="formLogin.controls['username'].errors?.['required']"
                    >
                      {{formLogin.controls['username'].errors?.['required'].message}}
                    </ng-container>
                    <ng-container
                      *ngIf="formLogin.controls['username'].errors?.['email']"
                    >
                      {{formLogin.controls['username'].errors?.['email'].message}}
                    </ng-container>
                  </small>
                </div>
                <div class="form-group form-focus">
                  <div class="password-wrapper">
                    <input
                      type="password"
                      formControlName="password"
                      class="form-control floating"
                      [type]="showPass ? 'text' : 'password'"
                    />
                    <label class="focus-label">Password</label>
                    <small
                      (click)="showPassword()"
                      [ngClass]="showPass ? 'fa fa-eye-slash' : 'fa fa-eye'"
                      class="password-icon"
                    ></small>
                  </div>
                  <small
                    class="form-text text-danger"
                    *ngIf="
                      (formLogin.controls['password'].touched ||
                        formLogin.controls['password'].dirty) &&
                      formLogin.controls['password'].errors
                    "
                  >
                    {{
                      formLogin.controls["password"].errors["required"].message
                    }}
                  </small>
                </div>
                <div class="text-right">
                  <a class="forgot-link" routerLink="/auth/forgot-password"
                    >Forgot Password ?</a
                  >
                </div>
                <button
                  (click)="onLogin()"
                  class="btn btn-primary btn-block btn-lg login-btn"
                  type="submit"
                  [disabled]="!formLogin.valid"
                >
                  Login
                </button>
                <div class="login-or">
                  <span class="or-line"></span>
                  <span class="span-or">or</span>
                </div>
                <div class="row form-row social-login">
                  <div class="col-6">
                    <a href="#" class="btn btn-facebook btn-block"
                      ><i class="fab fa-facebook-f mr-1"></i> Login</a
                    >
                  </div>
                  <div class="col-6">
                    <a href="#" class="btn btn-google btn-block"
                      ><i class="fab fa-google mr-1"></i> Login</a
                    >
                  </div>
                </div>
                <div class="text-center dont-have">
                  Don’t have an account? <a routerLink="/register">Register</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /Login Tab Content -->
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
<p-toast position="bottom-right" key="messageToast" />
