<!-- Breadcrumb -->
<div class="breadcrumb-bar p-0">
    <div class="container-fluid pt-2">
        <div class="row align-items-center">
            <div class="col-md-8 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title mt-0">2245 matches found for : Dentist In Bangalore</h2>
            </div>
            <div class="col-md-4 col-12 d-md-block d-none">
                <div class="sort-by">
                    <mat-form-field>
                        <mat-label>Sort by</mat-label>
                        <mat-select [(value)]="selected">
                          <mat-option>None</mat-option>
                          <mat-option value="option1">Rating</mat-option>
                          <mat-option value="option2">Popular</mat-option>
                          <mat-option value="option3">Latest</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->