<!-- Breadcrumb -->
<div class="breadcrumb-bar p-0">
    <div class="container-fluid pt-2">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title mt-0">Doctors</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->