<div class="row">
    <div class="col-md-12" *ngIf="!isFormVisible">
        <h4 class="mb-4">Patient Appoinment</h4>
        <div class="appointment-tab">
            <!-- Appointment Tab -->
            <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab">Today</a>
                </li>
            </ul>
            <!-- /Appointment Tab -->

            <div class="tab-content">
                <!-- Upcoming Appointment Tab -->
                <div class="tab-pane show active" id="upcoming-appointments">
                    <div class="card card-table mb-0">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Patient Name</th>
                                            <th>Appointment Date</th>
                                            <th>Doctor</th>
                                            <th>Appointment Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let appointment of appointments">
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a class="avatar avatar-sm mr-3">
                                                        <img class="avatar-img rounded-circle"
                                                            [src]="appointment.patientResponse?.avatarFilePath || '../../../../../../../assets/images/user.png'"
                                                            alt="User Image" />
                                                    </a>
                                                    <a>{{ appointment?.fullName }}
                                                        <span>Patient ID: {{appointment.patientResponse?.id}}</span>
                                                    </a>
                                                </h2>
                                            </td>
                                            <td>
                                                {{
                                                appointment.dateBooking | date : "dd MMM yyyy"
                                                }}
                                                <span class="d-block text-info">
                                                    {{appointment.bookingHour}}
                                                </span>
                                            </td>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a class="avatar avatar-sm mr-3">
                                                        <img class="avatar-img rounded-circle"
                                                            [src]="appointment.doctor?.avatarFilePath"
                                                            alt="User Image" />
                                                    </a>
                                                    <a>Dr. {{ appointment.doctor?.fullName }}
                                                    </a>
                                                </h2>
                                            </td>
                                            <td>
                                                <span class="badge badge-pill" [ngClass]="{
                                'bg-primary-light':
                                  appointment.appointmentStatus === 'ACCEPT',
                                'bg-info-light':
                                  appointment.appointmentStatus ===
                                  'RESCHEDULED',
                                'bg-success-light':
                                  appointment.appointmentStatus ===
                                  'COMPLETED',
                                'bg-warning-light':
                                  appointment.appointmentStatus === 'PENDING',
                                'bg-danger-light':
                                  appointment.appointmentStatus ===
                                  'CANCELLED'
                              }">
                                                    {{ appointment.appointmentStatus }}
                                                </span>
                                            </td>
                                            <td class="text-right">
                                                <div class="appointment-action">
                                                    <a href="javascript:void(0);" class="btn btn-sm bg-info-light"
                                                        (click)="viewAppointmentDetails(appointment)">
                                                        <i class="far fa-eye"></i> View
                                                    </a>
                                                    <a *ngIf="!appointment.medicalRecordResponse 
                                && (appointment.appointmentStatus === 'ACCEPT' || 
                                  appointment.appointmentStatus === 'RESCHEDULED' ||
                                  appointment.appointmentStatus === 'COMPLETED'
                                )" class="btn btn-sm bg-primary-light" data-toggle="modal"
                                                        data-target="#add_medical_records"
                                                        (click)="openForm(appointment)">
                                                        <i class="far fa-eye"></i> Add Medical Record
                                                    </a>
                                                    <a *ngIf="appointment.medicalRecordResponse" class="btn btn-sm bg-warning-light" data-toggle="modal"
                                                        data-target="#add_medical_records"
                                                        (click)="viewMedicalRecordDetails(appointment)">
                                                        <i class="far fa-eye"></i> View Medical Record
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Paginator Component -->
                            <p-paginator [rows]="pageSize" [totalRecords]="totalAppointments"
                                [rowsPerPageOptions]="[10, 20, 30]"
                                (onPageChange)="handlePageEvent($event)"></p-paginator>
                        </div>
                    </div>
                </div>
                <!-- Appointment Detail Dialog -->
                <p-dialog header="Appointment Details" [modal]="true" [(visible)]="visible"
                    [style]="{ width: '30rem' }">
                    <div class="row" *ngIf="selectedAppointment">
                        <div class="d-flex justify-content-between pe-2">
                            <p>Doctor:</p>
                            <p>Dr. {{ selectedAppointment?.doctor?.firstName }} {{ selectedAppointment?.doctor?.lastName
                                }}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Patient Name:</p>
                            <p>{{ selectedAppointment?.fullName }}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Phone:</p>
                            <p>{{ selectedAppointment?.phone }}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Email:</p>
                            <p>{{ selectedAppointment?.email }}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Date Booking:</p>
                            <p>{{ selectedAppointment?.dateBooking | date }}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Booking Hour:</p>
                            <p>{{ selectedAppointment?.bookingHour }}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Status:</p>
                            <p>
                                <span class="badge badge-pill" [ngClass]="{
            'bg-primary-light':
              selectedAppointment.appointmentStatus === 'ACCEPT',
            'bg-info-light':
              selectedAppointment.appointmentStatus === 'RESCHEDULED',
            'bg-success-light':
              selectedAppointment.appointmentStatus === 'COMPLETED',
            'bg-warning-light':
              selectedAppointment.appointmentStatus === 'PENDING',
            'bg-danger-light':
              selectedAppointment.appointmentStatus === 'CANCELLED'
          }">
                                    {{ selectedAppointment?.appointmentStatus }}
                                </span>
                            </p>
                        </div>
                        <div class="row d-flex justify-content-between pe-0">
                            <p class="col-4">Reason:</p>
                            <div class="col-8 pe-0 d-flex justify-content-end" style="text-align: justify">
                                <p-scrollPanel [style]="{ width: '100%', height: '100%' }" class="mh-25">
                                    {{ selectedAppointment?.reason }}
                                </p-scrollPanel>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between pt-4">
                            <button mat-raised-button (click)="visible = !visible">Close</button>
                        </div>
                    </div>
                </p-dialog>
                <!-- Medical Record Detail Dialog -->
                <p-dialog header="Medical Record Details" [modal]="true" [(visible)]="visibleMedicalRecord"
                    [style]="{ width: '45rem' }">
                    <div class="row" *ngIf="selectedMedicalRecord">
                        <div class="d-flex justify-content-between pe-2">
                            <p>Doctor:</p>
                            <p>Dr. {{ selectedMedicalRecord?.doctor?.fullName }}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Created Date:</p>
                            <p>{{selectedMedicalRecord?.medicalRecordResponse?.dateCreated | date: "dd MMM yyyy, hh:mm a"}}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Last Modified:</p>
                            <p>{{selectedMedicalRecord?.medicalRecordResponse?.lastModified | date : "dd MMM yyyy, hh:mm a"}}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Blood Group:</p>
                            <p>{{ selectedMedicalRecord?.medicalRecordResponse?.bloodType }}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Heart Rate:</p>
                            <p>{{ selectedMedicalRecord?.medicalRecordResponse?.heartRate }} 
                                <i class="fas fa-heartbeat fa-lg" style="color: #e10909;"></i> </p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Temperature:</p>
                            <p>{{ selectedMedicalRecord?.medicalRecordResponse?.temperature }}&deg;C</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Description:</p>
                            <p>{{ selectedMedicalRecord?.medicalRecordResponse?.description }}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Allergies</p>
                            <p>{{ selectedMedicalRecord?.medicalRecordResponse?.allergies }}</p>
                        </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>Diagnosis:</p>
                            <p>{{ selectedMedicalRecord?.medicalRecordResponse?.diagnosis }}</p>
                          </div>
                          <div class="d-flex justify-content-between pe-2">
                            <p>Prescription:</p>
                            <p>{{ selectedMedicalRecord?.medicalRecordResponse?.prescription }}</p>
                          </div>
                          <div class="d-flex justify-content-between pe-2">
                            <p>TreatmentPlan:</p>
                            <p>{{ selectedMedicalRecord?.medicalRecordResponse?.treatmentPlan }}</p>
                          </div>
                          <div class="d-flex justify-content-between pe-2">
                            <p>Note:</p>
                            <p>{{ selectedMedicalRecord?.medicalRecordResponse?.note }}</p>
                          </div>
                        <div class="d-flex justify-content-between pe-2">
                            <p>File:</p>
                            <p *ngIf="!selectedMedicalRecord?.medicalRecordResponse?.filePath">None</p>
                        </div>
                        <div *ngIf="selectedMedicalRecord?.medicalRecordResponse?.filePath">
                            <p-image [src]="selectedMedicalRecord?.medicalRecordResponse?.filePath" class="img-fluid" alt="File Image"
                                width="580" [preview]="true" />
                        </div>
                       
                        <div class="d-flex justify-content-between pt-4">
                            <button mat-raised-button
                                (click)="visibleMedicalRecord = !visibleMedicalRecord">Close</button>
                        </div>
                    </div>
                </p-dialog>
            </div>

        </div>
    </div>

</div>