.float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    margin-bottom: 70px;
    margin-right: 5px;
    background-color: #09e5ab;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.mat-icon {
    color: white;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.mat-icon:hover {
    color: #f0f0f0
}