<div>
  <div class="card">
    <div class="card-body">
      <mat-tab-group>
        <mat-tab label="Appointments">
          <div id="pat_appointments">
            <div class="card card-table mb-3">
              <div class="card-body">
                <div class="table-responsive" style="min-height: 70vh">
                  <table class="table table-hover table-center mb-3">
                    <thead>
                      <tr>
                        <th>Doctor</th>
                        <th>Appointment Date</th>
                        <th>Status</th>
                        <th class="d-flex justify-content-end">
                          <p-dropdown
                            [options]="filterOptions"
                            [(ngModel)]="selectedOption"
                            [checkmark]="true"
                            optionLabel="name"
                            [showClear]="true"
                            placeholder="Filter"
                            resetFilterOnHide="true"
                            [style]="{ 'min-width': '50px' }"
                            (onChange)="applyFilter($event)"
                          />
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let appointment of filteredAppointments">
                        <td>
                          <h2 class="table-avatar">
                            <a class="avatar avatar-sm me-3">
                              <p-image
                                [src]="
                                  appointment.doctor.avatarFilePath ||
                                  'assets/images/user.png'
                                "
                                alt="Doctor Image"
                                width="100%"
                                [preview]="true"
                                class="booking-doc-img"
                              />
                            </a>
                            <a
                              (click)="viewDoctorProfile(appointment.doctor.id)"
                              >Dr. {{ appointment.doctor.firstName }}
                              {{ appointment.doctor.lastName }}
                              <span>{{
                                appointment.doctor.specialty.specialtyName
                              }}</span>
                            </a>
                          </h2>
                        </td>
                        <td>
                          {{ appointment.dateBooking | date : "dd MMM yyyy" }}
                          <span class="d-block text-info">
                            At {{ appointment.bookingHour }}
                          </span>
                        </td>
                        <td>
                          <span class="badge badge-pill" [ngClass]="{
                            'bg-primary-light':
                              appointment.appointmentStatus === 'ACCEPT',
                            'bg-info-light':
                              appointment.appointmentStatus === 'RESCHEDULED',
                            'bg-success-light':
                              appointment.appointmentStatus === 'COMPLETED',
                            'bg-warning-light':
                              appointment.appointmentStatus === 'PENDING',
                            'bg-danger-light':
                              appointment.appointmentStatus === 'CANCELLED',
                          }" *ngIf="appointment.appointmentStatus != 'IN_PROGRESS'">
                          {{ appointment.appointmentStatus }}
                        </span>
                        <span class="badge badge-pill" style="background-color: rgb(29, 216, 85);  color: rgb(255, 255, 255);"
                        *ngIf="appointment.appointmentStatus === 'IN_PROGRESS'">
                        {{ appointment.appointmentStatus }}
                        </span>
                        </td>
                        <td class="text-right">
                          <div class="table-action d-flex justify-content-end">
                            <button class="btn btn-sm bg-warning-light me-2"
                              (click)="viewAppointmentDetails(appointment)" type="button">
                              <i class="far fa-eye"></i> View
                            </button>
                            <button *ngIf="appointment.appointmentStatus === 'PENDING' || appointment.appointmentStatus === 'ACCEPT'
                            || appointment.appointmentStatus === 'RESCHEDULED'"
                              class="btn btn-sm bg-danger-light me-2" (click)="onCancelAppointment(appointment.id)">
                              <i class="fas fa-times"></i> Cancel
                            </button>
                            <!-- Show Reschedule and Complete buttons if status is ACCEPT -->
                            <button *ngIf="appointment.appointmentStatus === 'ACCEPT'"
                              class="btn btn-sm bg-info-light me-2" (click)="openRescheduleDialog(appointment)">
                              <i class="fa-solid fa-rotate"></i> Reschedule
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Paginator Component -->
                <p-paginator [rows]="pageSize" [totalRecords]="totalAppointments" [rowsPerPageOptions]="[10, 20]"
                  (onPageChange)="handlePageEvent($event)" [showCurrentPageReport]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"></p-paginator>
              </div>
            </div>
          </div>
          <!-- Appointment Detail Dialog -->
          <p-dialog header="Appointment Details" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
            <div class="row" *ngIf="selectedAppointment">
              <div class="d-flex justify-content-between pe-2">
                <p>Doctor:</p>
                <p>Dr. {{ selectedAppointment?.doctor?.firstName }} {{ selectedAppointment?.doctor?.lastName }}</p>
              </div>
              <div class="d-flex justify-content-between pe-2">
                <p>Patient Name:</p>
                <p>{{ selectedAppointment?.fullName }}</p>
              </div>
              <div class="d-flex justify-content-between pe-2">
                <p>Phone:</p>
                <p>{{ selectedAppointment?.phone }}</p>
              </div>
              <div class="d-flex justify-content-between pe-2">
                <p>Email:</p>
                <p>{{ selectedAppointment?.email }}</p>
              </div>
              <div class="d-flex justify-content-between pe-2">
                <p>Date Booking:</p>
                <p>{{ selectedAppointment?.dateBooking | date }}</p>
              </div>
              <div class="d-flex justify-content-between pe-2">
                <p>Booking Hour:</p>
                <p>{{ selectedAppointment?.bookingHour }}</p>
              </div>
              <div class="d-flex justify-content-between pe-2">
                <p>Status:</p>
                <p>
                  <span class="badge badge-pill" [ngClass]="{
        'bg-primary-light':
          selectedAppointment.appointmentStatus === 'ACCEPT',
        'bg-info-light':
          selectedAppointment.appointmentStatus === 'RESCHEDULED',
        'bg-success-light':
          selectedAppointment.appointmentStatus === 'COMPLETED',
        'bg-warning-light':
          selectedAppointment.appointmentStatus === 'PENDING',
        'bg-danger-light':
          selectedAppointment.appointmentStatus === 'CANCELLED'
      }">
                    {{ selectedAppointment?.appointmentStatus }}
                  </span>
                </p>
              </div>
              <div class="row d-flex justify-content-between pe-0">
                <p class="col-4">Reason:</p>
                <div class="col-8 pe-0 d-flex justify-content-end" style="text-align: justify">
                  <p-scrollPanel [style]="{ width: '100%', height: '100%' }" class="mh-25">
                    {{ selectedAppointment?.reason }}
                  </p-scrollPanel>
                </div>
              </div>
              <div class="d-flex justify-content-between pt-4">
                <button mat-raised-button (click)="visible = !visible">Close</button>
              </div>
            </div>
          </p-dialog>
        </mat-tab>

        <mat-tab label="Medical Records">
          <!-- Medical Records Tab -->
          <div id="pat_medical_records">
            <div class="card card-table mb-0">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-center mb-0">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Created Date</th>
                        <th>Appointment Date</th>
                        <th>Appointment Status</th>
                        <th>Description</th>
                        <th>Attachment</th>
                        <th>Created By</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let medicalRecord of medicalRecords">
                        <td>{{ medicalRecord.id }}</td>
                        <td>
                          {{
                          medicalRecord.dateCreated
                          | date : "dd MMM yyyy, hh:mm a"
                          }}
                        </td>
                        <td>
                          {{
                          medicalRecord.appointmentResponse?.dateBooking
                          | date : "dd MMM yyyy"
                          }}
                          <span class="d-block text-info">
                            {{ medicalRecord.appointmentResponse?.bookingHour }}
                          </span>
                        </td>
                        <td>
                          <span class="badge badge-pill" [ngClass]="{
                            'bg-primary-light':
                            medicalRecord.appointmentResponse
                            ?.appointmentStatus === 'ACCEPT',
                            'bg-info-light':
                            medicalRecord.appointmentResponse
                            ?.appointmentStatus === 'RESCHEDULED',
                            'bg-success-light':
                            medicalRecord.appointmentResponse
                            ?.appointmentStatus === 'COMPLETED',
                            'bg-warning-light':
                            medicalRecord.appointmentResponse
                            ?.appointmentStatus === 'PENDING',
                            'bg-danger-light':
                            medicalRecord.appointmentResponse
                            ?.appointmentStatus === 'CANCELLED',
                          }" *ngIf="medicalRecord.appointmentResponse
                          ?.appointmentStatus != 'IN_PROGRESS'">
                          {{ medicalRecord.appointmentResponse
                                  ?.appointmentStatus }}
                        </span>
                        <span class="badge badge-pill" style="background-color: rgb(29, 216, 85);  color: rgb(255, 255, 255);"
                        *ngIf="medicalRecord.appointmentResponse
                                  ?.appointmentStatus === 'IN_PROGRESS'">
                        {{ medicalRecord.appointmentResponse
                                  ?.appointmentStatus }}
                        </span>

                        </td>
                        <td>{{ medicalRecord?.description }}</td>
                        <td>
                          <a [href]="medicalRecord?.filePath" target="_blank">File</a>
                        </td>
                        <td>
                          <h2 class="table-avatar">
                            <a (click)="
                                viewDoctorProfile(
                                  medicalRecord.doctorResponse?.id
                                )
                              " class="avatar avatar-sm mr-3">
                              <img class="avatar-img rounded-circle" [src]="
                                  medicalRecord.doctorResponse?.avatarFilePath ||
                                  'assets/images/user.png'
                                " alt="User Image" />
                            </a>
                            <a (click)="
                                viewDoctorProfile(
                                  medicalRecord.doctorResponse?.id
                                )
                              ">Dr. {{ medicalRecord.doctorResponse?.firstName }}
                              {{ medicalRecord.doctorResponse?.lastName }}
                              <span>{{
                                medicalRecord.doctorResponse?.specialty
                                ?.specialtyName
                                }}</span>
                            </a>
                          </h2>
                        </td>
                        <td class="text-right">
                          <div class="table-action">
                            <a class="btn btn-sm bg-info-light" (click)="viewMedicalRecordDetails(medicalRecord)">
                              <i class="far fa-eye"></i> View
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Paginator Component -->
                <p-paginator [rows]="pageSize" [totalRecords]="totalMedicalRecords" [rowsPerPageOptions]="[10, 20]"
                  (onPageChange)="handlePageEvent($event)"></p-paginator>
              </div>
            </div>
          </div>
          <!-- Medical Record Detail Dialog -->
          <p-dialog header="Medical Record Details" [modal]="true" [(visible)]="visibleMedicalRecord"
                [style]="{ width: '45rem' }">
                <div class="row" *ngIf="selectedMedicalRecord">
                  <div class="d-flex justify-content-between pe-2">
                    <p>Created By:</p>
                    <p>Nurse. {{ selectedMedicalRecord?.nurseResponse?.fullName }}</p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>Created Date:</p>
                    <p>{{selectedMedicalRecord.dateCreated | date: "dd MMM yyyy, hh:mm a"}}</p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>Last Modified:</p>
                    <p>{{selectedMedicalRecord.lastModified | date : "dd MMM yyyy, hh:mm a"}}</p>
                  </div>
                  <div *ngIf="selectedMedicalRecord?.doctorResponse" class="d-flex justify-content-between pe-2">
                    <p>Edited By:</p>
                    <p>Dr. {{ selectedMedicalRecord?.doctorResponse?.fullName }}</p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>Blood Group:</p>
                    <p>{{ selectedMedicalRecord?.bloodType }}</p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>Heart Rate:</p>
                    <p>{{ selectedMedicalRecord?.heartRate }}
                      <i class="fas fa-heartbeat fa-lg" style="color: #e10909;"></i>
                    </p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>Temperature:</p>
                    <p>{{ selectedMedicalRecord?.temperature }}&deg;C</p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>Description:</p>
                    <p>{{ selectedMedicalRecord?.description }}</p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>Allergies:</p>
                    <p>{{ selectedMedicalRecord?.allergies }}</p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>Diagnosis:</p>
                    <p>{{ selectedMedicalRecord?.diagnosis }}</p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>Prescription:</p>
                    <p>{{ selectedMedicalRecord?.prescription }}</p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>TreatmentPlan:</p>
                    <p>{{ selectedMedicalRecord?.treatmentPlan }}</p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>Note:</p>
                    <p>{{ selectedMedicalRecord?.note }}</p>
                  </div>
                  <div class="d-flex justify-content-between pe-2">
                    <p>File:</p>
                    <P *ngIf="!selectedMedicalRecord?.filePath">None</P>
                  </div>
                  <div *ngIf="selectedMedicalRecord?.filePath" class="d-flex justify-content-between pe-2">
                    <p-image [src]="selectedMedicalRecord?.filePath" class="img-fluid" alt="" width="580"
                      [preview]="true" />
                  </div>
                  <div class="d-flex justify-content-between pt-4">
                    <button mat-raised-button (click)="visibleMedicalRecord = !visibleMedicalRecord">Close</button>
                  </div>
                </div>
              </p-dialog>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<!-- Reschedule Dialog -->
<p-dialog
  header="Reschedule Appointment"
  [(visible)]="rescheduleVisible"
  [modal]="true"
  [style]="{ width: '55rem' }"
>
  <!-- Schedule -->
  <app-schedule
    [isReschedule]="true"
    [selectedApp]="selectedAppointment"
    (selectedSlot)="handleSelectedSlot($event)"
  ></app-schedule>
  <!-- Schedule -->

  <div class="d-flex justify-content-between mx-2">
    <button
      mat-raised-button
      extended
      type="button"
      (click)="closeRescheduleDialog()"
    >
      Cancel
    </button>
    <button
      type="submit"
      mat-flat-button
      extended
      (click)="submitRescheduleAppointment()"
      [disabled]="timeSlotSelected == null"
    >
      Done
    </button>
  </div>
</p-dialog>
