
<div class="card flex justify-content-center">
    <p-progressSpinner *ngIf="loadingFetchingData" ariaLabel="loading" [style]="{display: 'flex;'}" />
</div>
<div class="card" *ngIf="!loadingFetchingData">
    <p-table #myTab [columns]="cols" [exportHeader]="'customExportHeader'" [value]="doctors" styleClass="p-datatable-striped" [paginator]="true"
    [tableStyle]="{'min-width': '75rem'}" [rowHover]="true " dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['firstName', 'lastName']" [(selection)]="selectedDoctors">
    <ng-template pTemplate="caption">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <p-button severity="success" label="New" icon="pi pi-plus" class="mr-2"
                    (onClick)="showAddNewDoctorDialog()" />
                <p-button severity="danger" label="Delete" icon="pi pi-trash" 
                    [disabled]="!selectedDoctors || !selectedDoctors.length" (onClick)="deleteMultipleDoctor()"/>
            </ng-template>
            <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                    class="mr-2 inline-block" />
                <p-button severity="help" label="Export" icon="pi pi-upload" (onClick)="myTab.exportCSV()"/>
            </ng-template>
        </p-toolbar>
    </ng-template>
    <ng-template pTemplate="header">
            
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="id" style="width:5rem">
                    <div class="flex justify-content-between align-items-center">
                        Id <p-sortIcon field="id" />
                        <p-columnFilter type="text" field="id" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="firstName" style="min-width:12rem">
                    <div class="flex justify-content-between align-items-center">
                        First Name <p-sortIcon field="firstName" />
                        <p-columnFilter type="text" field="firstName" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="lastName" style="min-width:12rem">

                    Last Name <p-sortIcon field="lastName" />
                    <p-columnFilter type="text" field="lastName" display="menu" class="ml-auto" />

                </th>
                <th style="min-width:10rem">
                    Doctor Avatar 
                </th>
                <th pSortableColumn="gender" style="min-width:15rem">
                    Gender <p-sortIcon field="gender" />
                </th>
                <th pSortableColumn="specialty.specialtyName" style="min-width:15rem">
                    Speciality <p-sortIcon field="specialty.specialtyName" />
                    <p-columnFilter type="text" field="specialty.specialtyName" display="menu" class="ml-auto" />

                </th>
                <th pSortableColumn="address" style="min-width:15rem">
                    Address <p-sortIcon field="address" />
                    <p-columnFilter type="text" field="address" display="menu" class="ml-auto" />

                </th>
                <th pSortableColumn="averageRating" style="min-width:15rem">
                    Rating <p-sortIcon field="averageRating" />
                    
                </th>
                <th pSortableColumn="phone" style="min-width:15rem">
                    Phone <p-sortIcon field="phone" />
                    <p-columnFilter type="text" field="phone" display="menu" class="ml-auto" />

                </th>
                <th pSortableColumn="email" style="min-width:15rem">
                    Email <p-sortIcon field="email" />
                    <p-columnFilter type="text" field="email" display="menu" class="ml-auto" />
                </th>
                <th pSortableColumn="dateOfBirth" style="min-width:15rem">
                    BirthDay <p-sortIcon field="dateOfBirth" />
                    <p-columnFilter type="text" dateFormat="dd/mm/yy" field="dateOfBirth" display="menu" class="ml-auto" />
                </th>
                <th></th>

            </tr>


        </ng-template>
        <ng-template pTemplate="body" let-doctor class="body">
            
                <tr *ngIf="!loadingFetchingData">
                    <td>
                        <p-tableCheckbox [value]="doctor" />
                    </td>
                    <td>{{doctor.id}}</td>
                    <td>{{doctor.firstName}}</td>
                    <td>{{doctor.lastName}}</td>
                    <td><img class="doctor-avatar" [src]="doctor.avatarFilePath" alt=""></td>
                    <td><p-tag [value]="doctor.gender ? 'Male': 'Female'" [severity]="getSeverity(doctor.gender)" rounded="true" [style]="{width: '54px;'}"/></td>
                    <td>{{doctor.specialty.specialtyName}}</td>
                    <td>{{doctor.address}}</td>
                    <td style="display: flex; flex-direction: column; justify-content: center;">
                        <p-rating [(ngModel)]= "doctor.averageRating"[readonly]="true" [cancel]="false" />
                        <div style="display: flex;">
                            Based on <p style="margin: 0 5px; color: #3B82F6; font-weight: bold;">{{doctor.numberOfFeedbacks}}</p>  reviews
                        </div>
                    
                    </td>
                    <td>{{doctor.phone}}</td>
                    <td>{{doctor.email}}</td>
                    <td>{{doctor.dateOfBirth | date: 'dd-MM-yyyy'}}</td>
                    <td style="display: flex; justify-content: space-evenly;">
                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success" (onClick)="openEditDialog(doctor)" />
                        <p-button  icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"  (onClick)="deleteSelectedDoctor(doctor)"  />
                    </td>
                </tr>
                <tr *ngIf="loadingFetchingData">
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog></p-confirmDialog>