<app-search-doctor-bread-crumb></app-search-doctor-bread-crumb>

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <app-search-doctor-filter 
        class="col-md-12 col-lg-4 col-xl-3">

      </app-search-doctor-filter>

      <div class="col-md-12 col-lg-8 col-xl-9">
        <!-- Doctor Widget -->
        <div class="card">
          <div class="card-body">
            <div class="doctor-widget">
              <div class="doc-info-left">
                <div class="doctor-img">
                  <a href="doctor-profile.html">
                    <img
                      src="assets\images\doctors\doctor-thumb-01.jpg"
                      class="img-fluid"
                      alt="User Image"
                    />
                  </a>
                </div>
                <div class="doc-info-cont">
                  <h4 class="doc-name">
                    <a href="doctor-profile.html">Dr. Ruby Perrin</a>
                  </h4>
                  <p class="doc-speciality">
                    MDS - Periodontology and Oral Implantology, BDS
                  </p>
                  <h6 class="doc-department">
                    <img
                      src="assets\images\specialities\specialities-05.png"
                      class="img-fluid"
                      alt="Speciality"
                    />Dentist
                  </h6>
                  <div class="rating">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star"></i>
                    <span class="d-inline-block average-rating">(17)</span>
                  </div>
                  <div class="clinic-details">
                    <p class="doc-location">
                      <i class="fas fa-map-marker-alt"></i> Florida, USA
                    </p>
                    <ul class="clinic-gallery">
                      <li>
                        <a
                          href="assets\images\features\feature-01.jpg"
                          data-fancybox="gallery"
                        >
                          <img
                            src="assets\images\features\feature-01.jpg"
                            alt="Feature"
                          />
                        </a>
                      </li>
                      <li>
                        <a
                          href="assets\images\features\feature-02.jpg"
                          data-fancybox="gallery"
                        >
                          <img
                            src="assets\images\features\feature-02.jpg"
                            alt="Feature"
                          />
                        </a>
                      </li>
                      <li>
                        <a
                          href="assets\images\features\feature-03.jpg"
                          data-fancybox="gallery"
                        >
                          <img
                            src="assets\images\features\feature-03.jpg"
                            alt="Feature"
                          />
                        </a>
                      </li>
                      <li>
                        <a
                          href="assets\images\features\feature-04.jpg"
                          data-fancybox="gallery"
                        >
                          <img
                            src="assets\images\features\feature-04.jpg"
                            alt="Feature"
                          />
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="clinic-services">
                    <span>Dental Fillings</span>
                    <span> Whitening</span>
                  </div>
                </div>
              </div>
              <div class="doc-info-right">
                <div class="clini-infos">
                  <ul>
                    <li><i class="far fa-thumbs-up"></i> 98%</li>
                    <li><i class="far fa-comment"></i> 17 Feedback</li>
                    <li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
                    <li>
                      <i class="far fa-money-bill-alt"></i> $300 - $1000
                      <i
                        class="fas fa-info-circle"
                        data-toggle="tooltip"
                        title="Lorem Ipsum"
                      ></i>
                    </li>
                  </ul>
                </div>
                <div class="clinic-booking">
                  <a class="view-pro-btn" [routerLink]="['/doctor-profile']"
                    >View Profile</a
                  >
                  <a class="apt-btn" href="booking.html">Book Appointment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Doctor Widget -->
      </div>
    </div>
  </div>
</div>
