<div>
    <!-- Search Filter -->
    <div class="card search-filter">
        <div class="card-header">
            <h4 class="card-title mb-0">Search Filter</h4>
        </div>
        <div class="card-body">
            <div class="filter-widget">
                <div class="person-icon">
                    <input type="text" class="form-control" [(ngModel)]="searchRequest.keyword" 
                    placeholder="Enter doctor name">
                </div>
            </div>

            <div class="filter-widget">
                <h4>Gender</h4>
                <div>
                    <label class="custom_check">
                        <input type="checkbox" [checked]="searchRequest.gender === true" (change)="onGenderChange(true, $event)">
                        <span class="checkmark"></span> Male Doctor
                    </label>
                </div>
                <div>
                    <label class="custom_check">
                        <input type="checkbox" [checked]="searchRequest.gender === false" (change)="onGenderChange(false, $event)">
                        <span class="checkmark"></span> Female Doctor
                    </label>
                </div>
            </div>
            <div class="filter-widget">
                <h4>Select Specialist</h4>
                <div *ngFor="let specialty of specialties">
                    <label class="custom_check">
                        <input type="checkbox" (change)="onSpecialtyChange(specialty.id, $event)">
                        <span class="checkmark"></span> {{ specialty.specialtyName }}
                    </label>
                </div>
            </div>
            <div class="btn-search">
                <button type="button" class="btn btn-block" (click)="searchDoctors()">Search</button>
            </div>	
        </div>
    </div>
    <!-- /Search Filter -->
</div>
