<div class="row justify-content-center" style="height: 80vh">
  <div class="col-lg-6">
    <!-- Success Card -->
    <div class="card success-card" style="min-height: 450px">
      <div class="card-body">
        <div class="success-cont" style="padding-top: 50px">
          <i class="fas fa-check"></i>
          <h3>Appointment booked Successfully!</h3>
          <p *ngIf="isGuest">
            Appointment booked with
            <strong>Dr. {{ appointmentBookedGuestData?.doctor?.fullName }}</strong
            ><br />
            on
            <strong
              >{{ appointmentBookedGuestData?.dateBooking | date }} at
              {{ appointmentBookedGuestData?.bookingHour }}</strong
            >
          </p>
          <p *ngIf="!isGuest">
            Appointment booked with
            <strong>Dr. {{ appointmentBookedPatientData?.doctor?.fullName }}</strong
            ><br />
            on
            <strong
              >{{ appointmentBookedPatientData?.dateBooking | date }} at
              {{ appointmentBookedPatientData?.bookingHour }}</strong
            >
          </p>
          <a routerLink="/" class="btn btn-primary view-inv-btn">Go Home</a>
        </div>
      </div>
    </div>
    <!-- /Success Card -->
  </div>
</div>
