<div>
    <div class="card">

    </div>
    <div class="card">
        
    </div>
</div>
<div class="card">
    <p-toolbar>
    </p-toolbar>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button severity="success" label="New" icon="pi pi-plus" class="mr-2"
                (onClick)="showAddSpecialty()" />
            <!-- <p-dialog header="Add new doctor" [modal]="true" [(visible)]="addNewSpecialtyVisible"
                [style]="{ width: '55rem' }">
                <span class="p-text-secondary block mb-5">Type doctor's information.</span>
                <form [formGroup]="formAddNewSpecialty" (ngSubmit)="addNewSpecialty()">
                    <p-inputGroup>
                        <span class="font-bold block mb-2">First name: </span>
                        <input pInputText placeholder="First name" formControlName="firstName">
                        <span class="font-bold block mb-2">Last name: </span>
                        <input pInputText placeholder="Last name" formControlName="lastName">
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Gender: </span>
                        <p-radioButton p-label-active label="Male" value=true formControlName="gender" inputId="male" />
                        <p-radioButton label="Female" value=false formControlName="gender" inputId="female" />
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Password: </span>
                        <p-password formControlName="password" [toggleMask]="true" />
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Speciality: </span>
                        <p-dropdown formControlName="specialtyId" [options]="listSpecialty" optionLabel="specialtyName"
                            optionValue="id" [filter]="true" filterBy="specialtyName" [showClear]="true"
                            placeholder="Select a Speciality" />
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Birth Day: </span>
                        <p-calendar dateFormat="dd.mm.yy" [showOnFocus]="false" inputId="buttondisplay" [showTime]="false" formControlName="dateOfBirth"
                            [iconDisplay]="'input'" [showIcon]="true" />
                    </p-inputGroup>
                    <p-inputGroup class="flex-auto">
                        <span class="font-bold block mb-2">Phone: </span>
                        <p-inputMask mask="***-999-9999" formControlName="phone" placeholder="999-99-9999" />
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Address: </span>
                        <input pInputText placeholder="Address" formControlName="address" />
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Email: </span>
                        <input pInputText placeholder="Email" formControlName="email" />
                    </p-inputGroup>
                    <p-inputGroup [style]="{display: 'flex;'}">
                        <p-toast />
                        <span class="font-bold block mb-2">Image profile: </span>
                        <p-fileUpload  
                            url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
                            [auto]="true" (onUpload)="onUpload($event)" >
                            <ng-template pTemplate="content">
                                <ul >
                                    <li *ngIf="selectedFile!=null">
                                        {{ selectedFile?.name }} - {{ selectedFile?.size }} bytes
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </p-inputGroup>
                    <div class="save-cancel-container">
                        <p-button class="save-btn" label="Save" icon="pi pi-check" severity="success" type="submit" />
                        <p-button class="cancel-btn" label="Cancel" icon="pi pi-times" severity="danger"
                            (onClick)="addNewDoctorVisible = false" />
                    </div>
                    <p-inputGroup></p-inputGroup>

                </form>
            </p-dialog> -->
            <p-button severity="danger" label="Delete" icon="pi pi-trash" 
                [disabled]="!selectedSpecialty || !selectedSpecialty.length" (onClick)="deleteMultipleSpecialty()"
                />
        </ng-template>
        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="mr-2 inline-block" />
            <p-button severity="help" label="Export" icon="pi pi-upload" />
        </ng-template>
    </p-toolbar>
    <p-confirmDialog />
    <!-- <p-dialog header="Edit Doctor's Information" [modal]="true" [(visible)]="viewSpecilatyDetailsVisible" [style]="{ width: '55rem' }">
        <span class="p-text-secondary block mb-5">Type doctor's information.</span> -->
        <!-- <form [formGroup]="formEditDoctor" (ngSubmit)="editSpecialty()">
            <div class="doctor-details-form">

                <div class="general-doctor-information">
                    <p-image class="doctor-avatar" [preview]="true" width="150" height="150" [src]="formEditDoctor.get('avatarFilePath').value" alt="Doctor avatar"/>
                    <div class="doctor-name" style="display: flex;">
                        <label class="label" >Name: </label>
                        <label>{{doctorFirstName}} {{doctorLastName}}</label>
                    </div>
                    <div class="specialty">
                        <label class="label" >Specialty: </label>
                        <label>{{specialtyName}}</label>
                    </div>
                    <div class="reviews" style="display: flex;">
                        <p-rating [(ngModel)]= "doctorAverageRating" [readonly]="true" [cancel]="false" />
                        <div>
                            Based on <p style="margin: 0 5px; color: #3B82F6; font-weight: bold;">{{doctorNumberOfFeedbacks}}</p>  reviews
                        </div>
                    </div>
                </div>
                <div>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">First name: </span>
                        <input pInputText placeholder="First name" formControlName="firstName">
                        <span class="font-bold block mb-2">Last name: </span>
                        <input pInputText placeholder="Last name" formControlName="lastName">
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Gender: </span>
                        <p-radioButton label="Male"  [value]="true" formControlName="gender" inputId="male" />
                        <p-radioButton label="Female"  [value]="false" formControlName="gender" inputId="female" />
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Password: </span>
                        <p-password formControlName="password" [toggleMask]="true" />
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Speciality: </span>
                        <p-dropdown formControlName="specialtyId" [options]="listSpecialty" optionLabel="specialtyName"
                            optionValue="id" [filter]="true" filterBy="specialtyName" [showClear]="true"
                            placeholder={{specialtyName}} />
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Birth Day: </span>
                        <p-calendar dateFormat="dd.mm.yy" [showOnFocus]="false" placeholder={{defaultDate}} [showTime]="false" formControlName="dateOfBirth"
                            [iconDisplay]="'input'" [showIcon]="true" />
                    </p-inputGroup>
                    <p-inputGroup class="flex-auto">
                        <span class="font-bold block mb-2">Phone: </span>
                        <p-inputMask mask="***-999-9999" formControlName="phone" placeholder="999-99-9999" />
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Address: </span>
                        <input pInputText placeholder="Address" formControlName="address" />
                    </p-inputGroup>
                    <p-inputGroup>
                        <span class="font-bold block mb-2">Email: </span>
                        <input pInputText placeholder="Email" formControlName="email" />
                    </p-inputGroup>
                    <p-inputGroup [style]="{display: 'flex;'}">
                        <p-toast />
                        <span class="font-bold block mb-2">Image profile: </span>
                        <p-fileUpload  
                        url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
                        [auto]="true" (onUpload)="onUpload($event)" >
                        <ng-template pTemplate="content">
                            <ul >
                                <li *ngIf="selectedFile!=null">
                                    {{ selectedFile?.name }} - {{ selectedFile?.size }} bytes
                                </li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                    </p-inputGroup>
                    <div class="save-cancel-container">
                        <p-button class="save-btn" label="Save" icon="pi pi-check" severity="success" type="submit" />
                        <p-button class="cancel-btn" label="Cancel" icon="pi pi-times" severity="danger"
                            (onClick)="viewDoctorDetailsVisible = false" />
                    </div>
                    
                    <p-inputGroup></p-inputGroup>
                </div>
            </div>
            
        </form>
    </p-dialog> -->
    <p-table #myTab [value]="specialties" styleClass="p-datatable-striped" [paginator]="true"
    [tableStyle]="{'min-width': '75rem'}" [rowHover]="true " dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['firstName', 'lastName']" [(selection)]="selectedSpecialty">
    <ng-template pTemplate="header">
            
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="id" style="min-width:10rem">
                    <div class="flex justify-content-between align-items-center">
                        Specialty Id <p-sortIcon field="id" />
                        <p-columnFilter type="text" field="id" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="specialtyName" style="min-width:12rem">
                    <div class="flex justify-content-between align-items-center">
                        Specialty Name <p-sortIcon field="specialtyName" />
                        <p-columnFilter type="text" field="specialtyName" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="headDoctor" style="min-width:12rem">

                    Head Doctor<p-sortIcon field="headDoctor" />
                    <p-columnFilter type="text" field="headDoctor" display="menu" class="ml-auto" />

                </th>
                
                <th pSortableColumn="doctorList" style="min-width:15rem">
                    Doctor List <p-sortIcon field="doctorList" />
                    <p-columnFilter type="text" field="doctorList" display="menu" class="ml-auto" />

                </th>
                
                <th></th>

            </tr>


        </ng-template>
        <ng-template pTemplate="body" let-specialty class="body">
            
                <tr *ngIf="!loadingFetchingData">
                    <td>
                        <p-tableCheckbox [value]="specialty" />
                    </td>
                    <td>{{specialty.id}}</td>
                    <td>{{specialty.specialtyName}}</td>
                    <td>{{specialty.specialtyHead}}</td>
                    <td>
                        <p-avatarGroup styleClass="mb-3">
                            <p-avatar  *ngFor="let doctor of specialty.doctorList"
                                [image]="doctor.profile.avatarFilePath" 
                                size="large" 
                                shape="circle" />
                        </p-avatarGroup>
                    </td>
                    <td style="display: flex; justify-content: space-evenly;">
                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success" (onClick)="openEditDialog(specialty)" />
                        <p-button  icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"  (onClick)="deleteSelectedSpecialty(specialty)"  />
                    </td>

                </tr>
                <tr *ngIf="loadingFetchingData">
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                    <td><p-skeleton/></td>
                </tr>
        </ng-template>
    </p-table>
</div>