/* You can add global styles to this file, and also import other style files */

.mat-drawer.mat-drawer-side{
    z-index: 1 !important;
}
p-inputMask {
    display: flex;
    justify-content: center;
    align-items: center;
}
p-dropdown,p-password {
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-inputgroup input, p-button button{
    border-radius: 6px;
}
.p-dropdown-filter-container{
    display: flex;
}
.p-dialog .p-dialog-footer button {
    margin: 0 0.5rem 0 0;
    width: auto;
    border-radius: 6px;
}
p-radiobutton{
    margin: 0 10px;
}