/* You can add global styles to this file, and also import other style files */

.mat-drawer.mat-drawer-side{
    z-index: 1 !important;
}
p-inputMask {
    display: flex;
    justify-content: center;
    align-items: center;
}
p-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-inputgroup input, p-button button{
    border-radius: 6px;
}
.p-dropdown-filter-container{
    display: flex;
}